<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jprod.jerryletehen.switch_it_free">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrontActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GoEasy"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_2"
            android:screenOrientation="portrait">
        </activity>
        <!--<activity
            android:name=".GoHard"
            android:screenOrientation="portrait">
        </activity>-->
        <activity
            android:name=".GoMedium"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_01"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_02"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_03"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_04"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_05"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_06"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_07"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_08"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_09"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_10"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_11"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_12"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_13"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_14"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_15"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_16"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_17"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_18"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_19"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_20"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_21"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_22"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_23"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_24"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_25"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_26"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_27"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_28"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_29"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_30"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_31"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_32"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_33"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_34"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_35"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_36"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_37"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_38"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_39"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_40"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_41"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_42"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_43"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_44"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_45"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_46"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_47"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_48"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_49"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Easy_50"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_01"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_02"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_03"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_04"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_05"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_06"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_07"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_08"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_09"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_10"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_11"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_12"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_13"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_14"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_15"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_16"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_17"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_18"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_19"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_20"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_21"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_22"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_23"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_24"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_25"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_26"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_27"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_28"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_29"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_30"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_31"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_32"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_33"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_34"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_35"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_36"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_37"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_38"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_39"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_40"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_41"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_42"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_43"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_44"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_45"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_46"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_47"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_48"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_49"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Medium_50"
            android:screenOrientation="portrait">
        </activity>

        <!--<activity
            android:name=".Administration"
            android:screenOrientation="portrait">
        </activity>-->


    </application>

</manifest>
